<html>
    <head>
        <title>
            애벌래 만들기
        </title>
        <style>
            div {
                border-radius: 50px;
                width: 100px;
                height: 100px;
            }
            #div0 {
                position: relative;
                top: 10px;
                left: 10px;
            }
            .div1 {
                background-color: blue;
                position: absolute;
                left: 100px;
            }
            .div2 {
                position: absolute;
                background-color: rgb(98, 98, 246);
                top: 50px;
                left: 150px;
            }
            .div3 {
                position: absolute;
                background-color: blueviolet;
                top: 60px;
                left: 190px;
            }
            .div4 {
                position: absolute;
                background-color: rgb(12, 146, 101);
                top: 60px;
                left: 250px;
            }
            .div5 {
                position: fixed;
                background-color: rgb(71, 170, 227);
                top: 50px;
                left: 300px;
            }
            .div6 {
                position: absolute;
                width: 30px;
                height: 30px;
                background-color: white;
                top: 20px;
                left: 120px;
            }
            .div7 {
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: black;
                top: 25px;
                left: 120px;
            }
            img {
                position: fixed;
                top: 160px;
            }
        </style>
    </head>

    <body>
        <div id="div0">
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
            <div class="div6"></div>
            <div class="div7"></div>
            <img src="image.jpg" width="500" height="100">
        </div>
    </body>
</html>