<html>
    <head>
        <title>쿠키 활용</title>
        <script>
            function click(){
                var form = document.getElementById("form_comment");
            }
        </script>
    </head>

    <body>
        <div>
            <button type="button" onclick="click()">오늘 그만보기</button>
        </div>
    </body>
</html>