<html>
    <head>
        <title>Axios</title>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function sendGet(){
                axios({
                    method: "get",
                    url: "http://localhost:9999/receive",
                    params: {
                        name: "codee"
                    } 
                }).then((a) => {return a.data; })
                .then((d) => {
                    alert( d.message );
                });
            }
            function sendPost(){
                axios({
                    method: "post",
                    url: "http://localhost:9999/receive",
                    data: {
                        name: "codee"
                    } // axios로 처리 할때는 input 사용 하지 않아도 됨
                }).then((a) => {return a.data; })
                .then((d) => {
                    // console.log( d );
                    alert( d.message );
                });
                // .then((Response) => { console.log( Response ); });
            }
            function sendForm(){
                var form = document.getElementById("form_info");
                console.log( form );

                form.checkValidity();
                var result = form.checkValidity();
                if ( !result ){
                    form.reportValidity();

                    return false;
                }
                console.log( result );

                // console.log( form.name.value );
                // console.log( form.age.value );

                // axios({
                //     method: "post",
                //     url: "http://localhost:9999/receive",
                //     data: {
                //         name: form.name.value
                //     }
                // }).then((a) => {return a.data; })
                // .then((d) => {
                //     alert( d.message );
                // });
            }
        </script>
    </head>
    <body>
        <!-- <form action="/receive"> -->
            <!-- <input type="text" name="name"> -->
            <!-- <button type="button" onclick="sendPost();">버튼</button>    
        </form> -->

        <button onclick="sendGet();">sendGet</button>
        <button onclick="sendPost();">sendPost</button>

        <form id="form_info">
            <input type="text" name="name" required>
            <input type="text" name="age" required>
            <button type="button" onclick="sendForm()">sendForm</button>
        </form>
    </body>
</html>