<html>
    <head>
        <title>Axios</title>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function sendGet(){
                axios({
                    method: "get",
                    url: "http://localhost:9999/receive",
                    params: {
                        name: "codee"
                    } 
                }).then((a) => {return a.data; })
                .then((d) => {
                    alert( d.message );
                });
            }
            function sendPost(){
                axios({
                    method: "post",
                    url: "http://localhost:9999/receive",
                    data: {
                        name: "codee"
                    } // axios로 처리 할때는 input 사용 하지 않아도 됨
                }).then((a) => {return a.data; })
                .then((d) => {
                    // console.log( d );
                    alert( d.message );
                });
                // .then((Response) => { console.log( Response ); });
            }
        </script>
    </head>
    <body>
        <form action="/receive">
            <!-- <input type="text" name="name"> -->
            <button type="button" onclick="sendPost();">버튼</button>    
        </form>
        <button type="button" onclick="sendGet();">sendGet</button>   
        <button onclick="sendPost();">sendPost</button>
    </body>
</html>