@import '~include-media/dist/include-media';
@import '~open-color/open-color';

$a : pink;
$b : yellow;
$c : green;

$pink: pink;
$yellow: yellow;
$green: green;
@mixin bounce ($bounce, $size){
    @keyframes #{$bounce} {
        0%{top: 0px; left: 0px;}
        25%{top:0px; left: $size}
        50%{left: $size; top: $size;}
        75%{left: 0px; top: $size;}
        100%{top: 0px; left: 0px;}
    }
}
.ball{
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    animation: 3s ease-in infinite;
    &.pink{
        background:$pink;
        animation-name: animation1;
    }
    &.yellow{
        background:$yellow;
        animation-name: animation2;
    }
    &.green{
        background:$green;
        animation-name: animation3;
    }
}
@include bounce(animation1, 100px);
@include bounce(animation2, 200px);
@include bounce(animation3, 300px);

.U_66{
    width: 50px;
    height: 50px;
    background-color: $a;
    position: absolute;
    border-radius: 70%;
    animation-name: bells;
    animation-timing-function: infinite;
    animation-duration: 3s;
    animation-iteration-count: 6;

    .bell{
        width: 50px;
        height: 50px;
        background-color: $a;
        position: absolute;
        border-radius: 70%;
        animation-name: bells;
        animation-timing-function: infinite;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }
    &.l {
        width: 50px;
        height: 50px;
        background-color: $a;
        position: absolute;
        border-radius: 70%;
        animation-name: bells;
        animation-timing-function: infinite;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }
    &.i {
        width: 50px;
        height: 50px;
        background-color: $b;
        position: absolute;
        border-radius: 70%;
        animation-name: bells;
        animation-timing-function: infinite;
        animation-duration: 3s;
        animation-iteration-count: 6;
    }

    @keyframes bells{
        from, to{
            left: 0px;
            top: 0px;
            animation-timing-function: ease-out;
        }
        25%{
            left: 100px;
            top: 0px;
            animation-timing-function: ease-in;
        }
        50%{
            left: 100px;
            top: 100px;
            animation-timing-function: ease-in;
        }
        75%{
            left: 0px;
            top: 100px;
            animation-timing-function: ease-in;
        }
    }
}