<html>
    <head>
        <title>방명록 등록</title>
    </head>

    <body>
        <form action="/user/visitor" target="_blank" method="post">
            <fieldset style="width: 500px;">
                <legend> 방명록 등록 </legend>
                <input type="text" name="name" placeholder="사용자 이름"><br>
                <input type="text" name="comment" placeholder="방명록"><br>
                <button>등록</button>
            </fieldset>
        </form>
        <br>
        <br>
        <table border="1">
            <tr>
                <td>ID</td>
                <td>작성자</td>
                <td>방명록</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
        </table>
    </body>
</html>